:host {
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 5% 0;
  background-image: url('./../../assets/imgs/School.jpg') !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  scroll-behavior: initial;
}
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
  float: none;
}
  .mat-form-field {
    width: 100%;
    min-width: 400px;
  }
  
  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: Left;
  
  }
  
  .mat-card-title {
    border-bottom: 4px solid darkgreen;
    padding-bottom: 0.5em;
  }
  
  .button {
    display: flex;
    justify-content: flex-end;
  }
