<meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>JC Technical Programming School</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">
  
  

  
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">
  
        <h1 class="logo mr-auto"><a [routerLink]="['/home']"><span>Pro</span>Tech<b>nic</b></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
  
        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a [routerLink]="['/home']">Home</a></li>
  
            <li class="drop-down"><a href="#">About</a>
              <ul>
                <li><a [routerLink]="['/about']">About Us</a></li>
                <li><a href="team.html">The Team</a></li>
                <li><a href="testimonials.html">Testimonials</a></li>
                <li class="drop-down"><a href="#">Deep Drop Down</a>
                  <ul>
                    <li><a href="#">Deep Drop Down 1</a></li>
                    <li><a href="#">Deep Drop Down 2</a></li>
                    <li><a href="#">Deep Drop Down 3</a></li>
                    <li><a href="#">Deep Drop Down 4</a></li>
                    <li><a href="#">Deep Drop Down 5</a></li>
                  </ul>
                </li>
              </ul>
            </li>
  
            <li class="drop-down"><a href="#">Cloud Training</a>
              <ul>
                <li><a href="#">AWS</a></li>
                <li><a href="#">Microsoft Azure</a></li>
                <li><a href="#">VMWare</a></li>
                <li><a href="#">Oracle Cloud</a></li>
                <li><a href="#">SAP</a></li>
              </ul>
            </li>
            <li class="drop-down"><a href="portfolio.html">Programing</a>
              <ul>
                <li><a [routerLink]="['/serverside']">Server Side</a></li>
                <li><a [routerLink]="['/clientside']">Client Side</a></li>
              </ul>
            </li>
            <li><a href="pricing.html">Devops</a></li>
            <li><a [routerLink]="['/admin']">admin</a></li>
            <!--<li><a href="#">{{}}</a></li>-->
            <li><a (click)="logoutUser()" >Logout</a></li>
  
          </ul>
        </nav><!-- .nav-menu -->
  
        <div class="header-social-links">
          <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
          <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
          <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
          <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
        </div>
  
      </div>
    </header><!-- End Header -->
<main class="main" style="margin-top: 60px;">
<div class="container md-col-4">

<div class="panel panel-success">
</div>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" style="margin-bottom: 40px;">
    <thead style="background: tomato;">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Type of User</th>
            <th>Role</th>
      </tr>
    </thead>
    <tbody *ngIf="contacts?.length != 0">
        <tr *ngFor="let user of contacts">
     <!--   <tr *ngFor="let users in userlist | pagination: (currentPage - 1) * pageSize | limitTo: pageSize">-->
        
            <td>{{ user.firstname}}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.type }}</td>
            <td>{{ user.role }}</td>
        
        </tr>
    </tbody>
    <tbody *ngIf="contacts?.length == 0">
        <tr>
          <td colspan="3" class="no-data-available">No data!</td>
        </tr>
      <tbody>


</table>
</div>
<div Style="margin:140px;"></div>
</main>
<!--<ul uib-pagination total-items="userlist.length" items-per-page="pageSize " ng-model="currentPage "></ul>-->