

<main class="main" style="margin-top:20px">
<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2><strong>Server Side</strong></h2>
        <p>The server side programming is the name given to all types of programs which run on the web server. </p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-blue">
            <div class="icon">
                <img src='./../../assets/img/serverside/nodejs.png' style="width:80%;height: 80%;"/>
            </div>
            <h4><a href="">Node JS</a></h4>
            <p style="text-align:justify;">Node.js is designed to build scalable network applications</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box iconbox-orange ">
            <div class="icon">
                <img src='./../../assets/img/serverside/python.png' style="width:50%;height: 50%;"/>
            </div>
            <h4><a href="">Python</a></h4>
            <p style="text-align:justify;">Python is an interpreted, high-level, general-purpose programming language</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box iconbox-pink">
            <div class="icon">
                <img src='./../../assets/img/serverside/typescript.png' style="width:50%;height: 50%;"/>
            </div>
            <h4><a href="">TypeScript</a></h4>
            <p style="text-align:justify;">TypeScript is an open-source programming language developed and maintained by Microsoft</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-yellow">
            <div class="icon">
                <img src='./../../assets/img/serverside/java.png' style="width:80%;height: 80%;"/>
            </div>
            <h4><a href="">Java</a></h4>
            <p style="text-align:justify;">Java is a general-purpose programming language that is class-based, object-oriented</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box iconbox-red">
            <div class="icon">
                <img src='./../../assets/img/serverside/c-Sharp.png' style="width:50%;height: 50%;"/>
            </div>
            <h4><a href="">C#</a></h4>
            <p style="text-align:justify;">C# is a multi-paradigm programming language, object-oriented, and component-oriented programming disciplines</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box iconbox-teal">
            <div class="icon">
                <div class="circular--square">
                    <img src='./../../assets/img/serverside/c-plus.png' style="width:50%;height: 50%;"/>
                </div>

            </div>
            <h4><a href="">C++</a></h4>
            <p style="text-align:justify;">C++ is a general-purpose programming language</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->
</main>

