

<main class="main" style="margin-top:20px">
    <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">
    
          <div class="section-title">
            <h2><strong>Client Side</strong></h2>
            <p>It is the program that runs on the client machine (browser) and deals with the user interface/display and any other processing that can happen on client machine like reading/writing cookies</p>
          </div>
    
          <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box iconbox-blue">
                <div class="icon">
                    <img src='./../../assets/img/clientside/html.jpg' style="width:60%;height: 60%;"/>
                </div>
                <h4><a href="">HTML (Structure)</a></h4>
                <p style="text-align:justify;">Hypertext Markup Language is the standard markup language
                     for documents designed to be displayed in a web browser</p>
              </div>
            </div>
    
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box iconbox-orange ">
                <div class="icon">
                    <img src='./../../assets/img/clientside/css.png' style="width:60%;height: 60%;"/>
                </div>
                <h4><a href="">CSS (Designing)</a></h4>
                <p style="text-align:justify;">Cascading Style Sheets is a style sheet language used for describing the 
                    presentation of a document written in a markup language like HTM</p>
              </div>
            </div>
    
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box iconbox-pink">
                <div class="icon">
                    <img src='./../../assets/img/clientside/javascript.jpg' style="width:60%;height: 60%;"/>
                </div>
                <h4><a href="">JavaScript</a></h4>
                <p style="text-align:justify;">JavaScript, often abbreviated as JS, is a programming language 
                    that conforms to the ECMAScript specification. </p>
              </div>
            </div>
    
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box iconbox-yellow">
                <div class="icon">
                    <img src='./../../assets/img/clientside/vbscript.png' style="width:80%;height: 80%;"/>
                </div>
                <h4><a href="">VBScript</a></h4>
                <p style="text-align:justify;">VBScript is an Active Scripting language developed by Microsoft that is modeled on Visual Basic</p>
              </div>
            </div>
    
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box iconbox-red">
                <div class="icon">
                    <img src='./../../assets/img/clientside/ajax.png' style="width:70%;height: 70%;"/>
                </div>
                <h4><a href="">AJAX</a></h4>
                <p style="text-align:justify;">Ajax is a set of web development techniques using many web technologies on the client side to create asynchronous web applications</p>
              </div>
            </div>
    
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box iconbox-teal">
                <div class="icon">
                    <div class="circular--square">
                        <img src='./../../assets/img/clientside/jquery.png' style="width:60%;height: 60%;"/>
                    </div>
    
                </div>
                <h4><a href="">JQUERY</a></h4>
                <p style="text-align:justify;">jQuery is a JavaScript library designed to simplify HTML DOM tree traversal and manipulation, as well as event handling, CSS animation, and Ajax</p>
              </div>
            </div>
    
          </div>
    
        </div>
      </section><!-- End Services Section -->
    </main>
    
    
